.wordSearch {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(var(--w), 1fr);
    margin: 3rem;
}

.wsRow {
    display: grid;
    justify-items: center;
}

.wsCell {
    display: grid;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
}