
.header {
    background-color: #ADD8E6; /* Pixie Blue */
    color: #FFFFFF; /* Fairy Dust White */
    padding: 20px;
    text-align: center;
}

.section {
    background-color: #ADD8E6; /* Pixie Blue */
    color: #483D8B; /* Twilight Sky */
    padding: 20px;
    margin: 20px 0;
}

.highlight {
    background-color: #FFD700; /* Pixie Gold */
    color: #483D8B; /* Twilight Sky */
    padding: 5px;
    border-radius: 3px;
}

.btn {
    background-color: #FFD700; /* Pixie Gold */
    color: #483D8B; /* Twilight Sky */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 2rem;
    &:hover {
        background-color: #ADD8E6; /* Pixie Blue */
        color: #FFFFFF; /* Fairy Dust White */
    }
}

.heroImage {
    height: 80vh;
    object-position: center;
    object-fit: cover;
}

.heroCard {
    background-color: #9370DB; /* Magic Purple */
    padding: 15px;
    border-radius: 5px;

    display: grid;
    justify-items: center;
    align-items: center;
}

.hero {
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: 1fr auto 1fr;
}